dm-reverb==0.7.2
dm-launchpad==0.5.2
tensorflow_datasets==4.6.0
tensorflow_probability==0.15.0
gym[atari]
tensorflow==2.8.0
pygame==2.1.0
absl-py
pillow
gym==0.25.0
dm-control
rlds
dm-sonnet
atari-py
bsuite
trfl
typing-extensions
jax
flax
numpy
dm-haiku
dm-env
optax
rlax
chex
dm-tree
