tensorflow_probability==0.15.0
dm-haiku
chex
numpy
gym==0.25.0
rlds
rlax
gym[atari]
tensorflow==2.8.0
bsuite
dm-control
dm-env
flax
dm-tree
typing-extensions
dm-sonnet
dm-reverb==0.7.2
optax
jax
pillow
absl-py
atari-py
pygame==2.1.0
tensorflow_datasets==4.6.0
trfl
dm-launchpad==0.5.2
