typing-extensions
numpy
gym[atari]
rlax
jax
atari-py
flax
pygame==2.1.0
pillow
bsuite
tensorflow_datasets==4.6.0
gym==0.25.0
tensorflow==2.8.0
dm-control
dm-launchpad==0.5.2
absl-py
dm-sonnet
chex
trfl
rlds
optax
tensorflow_probability==0.15.0
dm-env
dm-reverb==0.7.2
dm-haiku
dm-tree
